/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

html {
			scroll-behavior: smooth;
		}

/*Google Fonts*/

#ibody {

				background-color: #01000A;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='284' height='284' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23093B2E' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23012624'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

				background-color: #0a192f;
				font-family: 'Lekton';
				background-attachment: fixed;

			}

#navmain {

					border-bottom-left-radius: 25px;
					border-bottom-right-radius: 25px;
					background-color: #230303;
					background-color: rgba(0,0,0,0.5);
    			font-family: 'Cutive Mono';
  				font-size: 15px;

				}

#aboutcard-corner {

  border-radius: 50px;
  background-color: #230303;
	background-color: rgba(0,0,0,0.5);
}

}


#navbarNav {
	color: red;
}

.line1 {
	background-color: #59e2c5;
}

#quote1 {
	border-radius: 50px;
	background-color: #230303;
	
	font-style: italic;
	font-size: 1.2rem;
	color: #8892b0;
	
}

#hello1 {
color: #59e2c5;
font-size: 1.2rem;
}

#nald {

	margin-top: -3%;
	font-family: 'Arial';
	/*font-size: 4rem;*/
	font-weight: bolder;
	color: #ccd6f6;


}

#help {

	margin-top: -7%;
	font-family: 'Arial';
	/*font-size: 3rem;*/
	font-weight: bolder;
	color: #8892b0;
}

#describe{

font-family: 'Arial';
margin-right: 50%;
justify-content: center;
color: #909ab7;
font-size: 1.5rem;
}

#photo {

margin-left: 50%;

}




#aboutme {

	margin-left: 20%;
	font-family: 'Arial';
	font-size: 1.5rem;
	font-weight: bold;
	color: #ccd6f6;
}

.hello-card {
	font-size: 1.5rem;

}

#aboutcard-corner {
	background-color: rgba(0,0,0,0.1);

}

#card-text {

	font-size: 1.3rem;
	text-align: center;
}


#myprojects {

	background-color: #230303;
	background-color: rgba(0,0,0,0);
}
#css-box {
	
	background-color: rgba(0,0,0,0.1);
}
#styling-box {
	
	background-color: rgba(0,0,0,0.1);
}
#bootstrap-box {
	
	background-color: rgba(0,0,0,0.1);
}
h1 {
	margin-left: 10%;
	padding-top: 5%;
	text-align: left;
	color: #ccd6f6;
	font-family: 'Robot Slab';
}
#pic-border {
	border: 10px solid #fb1313;
}

#contact-corner {
	background-color: rgba(0,0,0,0.1);
}


#foot1 {
	background-color: #59e2c5;
}